<footer id="footer">
    <div class="footer-container">
        <div class="footer-box">
            <ul>
                <li id="address">6303 Waterford District Dr,<br> Miami, FL 33126, USA</li>
                <a href="mailto:contact@intellectif.com">contact@intellectif.com</a>
            </ul>
        </div>
        <div class="footer-box">
            <ul>
                <li><a href="./terms-and-conditions">Terms and conditions</a></li>
                <li><a href="./privacy">Privacy policies</a></li>
            </ul>
            <div class="social-media">
                <a href="https://www.facebook.com/idiomasocw/" target="_blank" rel="noopener noreferrer" aria-label="Siguenos en Facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/idiomasocw/" target="_blank" rel="noopener noreferrer" aria-label="Siguenos en Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCW8lVGnaaC9zHlOWZfme1tA" target="_blank" rel="noopener noreferrer" aria-label="Siguenos en Youtube"><i class="fab fa-youtube"></i></a>
                <a href="https://wa.me/573148489909" target="_blank" rel="noopener noreferrer" aria-label="Contactanos via Whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
    <div class="copy-rights">
        <p>&copy; <span id="current-year"> - Intellectif LLC</p>            
    </div>
</footer>

            
            <script>
                document.getElementById('current-year').textContent = new Date().getFullYear();
            </script>