<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/pics/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.typekit.net/rdx6buo.css">
    <title>Contact</title>
</head>

<body>
    <%- include('partials/header') %>
        <section style="min-height: 70vh; color:#6bddc1" class="first-section thank-you-page">
            <h1>Thank You!</h1>
            <p>Your message has been received. We'll get back to you shortly.</p>
        </section>
        <%- include('partials/footer') %>
</body>

</html>