<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solutions</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/rdx6buo.css">
</head>
<body>
    <header class="site-header">
        <div class="logo-container">
            <img class="logo" src="/pics/logo.png" alt="logo">
            <p>Intellectif</p>
        </div>

        <div class="access-btns">
            <a href="/logout">Logout</a>
        </div>
    </header>

    <section class="main-container">

        <section class="first-section">
            <h1>Your dashboard</h1>
            <h2>Coming soon</h2>
        </section>        
    </section>  
</body>
</html>