<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intellectif</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/rdx6buo.css">
</head>

<body>
    <header class="site-header">
        <div class="logo-container">
            <img class="logo" src="/pics/logo.png" alt="logo">
            <p>Intellectif</p>
        </div>
        <div>
            <ul class="menu">
                <li class="menu-item"><a href="#">Learn Software development</a></li>
                <li class="menu-item"><a href="#">Learn Spanish</a></li>
                <li class="menu-item"><a href="#">Solutions</a></li>
            </ul>
        </div>
        <div>
            <a href=""><span class="login">Login</span></a>
            <a href=""><span class="signup">Sign up</span></a>
        </div>
    </header>

    <section class="main-container">

        <section class="first-section">
            <h1>Expand your career</h1>
            <h2>Find the course you need in the language you speak</h2>
        </section>

        <section class="second-section">
            <ul class="course-categories">
                <li class="category-item">
                    <img class="category-icon" src="/pics/web-development.png" alt="">
                    <span>Frontend Development</span>
                </li>
                <li class="category-item">
                    <img class="category-icon" src="/pics/backend-dev.png" alt="">
                    <span>Backend Development</span>
                </li>
                <li class="category-item">
                    <img class="category-icon" src="/pics/aws-cloud.png" alt="">
                    <span>AWS Cloud Services</span>
                </li>
                <!-- second round -->
                <li class="category-item">
                    <img class="category-icon" src="/pics/digital-marketing.png" alt="">
                    <span>Digital Marketing</span>
                </li>
                <li class="category-item">
                    <img class="category-icon" src="/pics/mobile-development.png" alt="">
                    <span>Mobile App Development</span>
                </li>
                <li class="category-item">
                    <img class="category-icon" src="/pics/languages.png" alt="">
                    <span>Learn Spanish</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="white" width="12" height="12">
                        <path
                            d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z" />
                    </svg>

                </li>

            </ul>
        </section>
    </section>
</body>

</html>