<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solutions</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/rdx6buo.css">
</head>
<body>
<%- include('partials/header') %>

    <section class="main-container">

        <section class="first-section">
            <h1>Solutions</h1>
            <h2>Make your business grow with our help. We'll help you automate processes to save expenses and build custom tech solutions to make a difference.</h2>
        </section>        
    </section>  
    <script src="/js/main.js"></script>
</body>
</html>