<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/rdx6buo.css">
</head>
<body>
    <header class="site-header">
        <div class="logo-container">
            <img class="logo" src="/pics/logo.png" alt="logo">
            <p>Intellectif</p>
        </div>

        <div class="menu-toggle">
            <div class="menu-btn">
                <div class="menu-btn_burger"></div>
            </div>
        </div>

        <div>
            <ul class="menu">
                <li class="menu-item"><a style="text-align: center;" href="#">Learn Software development</a></li>
                <li class="menu-item"><a style="text-align: center;" href="#">Learn Spanish</a></li>
                <li class="menu-item"><a style="text-align: center;" href="#">Solutions</a></li>
            </ul>
        </div>
        <div class="access-btns">
            <a href=""><span class="login">Login</span></a>
            <a href=""><span class="signup">Sign up</span></a>
        </div>
    </header>

    <section class="main-container">

        <section class="first-section">
            <h1>Expand your career</h1>
            <h2>Find the course you need in the language you speak</h2>
        </section>        
    </section>

</body>
</html>